<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?define VersionNumber = "!(bind.FileVersion.PixelPaletteExe)" ?>
  <?define UpgradeCode = "1B89E3EE-F6D6-425B-B70E-01D4CB74111F" ?>
  <?define InfoURL = "https://github.com/simshaun/PixelPalette" ?>

  <Package
    Name="!(loc.ApplicationName)"
    Language="!(loc.Language)"
    Version="$(VersionNumber)"
    Manufacturer="!(loc.ManufacturerFullName)"
    UpgradeCode="$(UpgradeCode)"
    InstallerVersion="200"
    Compressed="yes"
    Scope="perMachine">
    <SummaryInformation
      Comments="!(loc.Comments) $(VersionNumber)"
      Description="!(loc.ProductDescription)" />

    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />

    <Icon Id="APP_ICON" SourceFile="icon.ico" />

    <Property Id="ARPPRODUCTICON" Value="APP_ICON" />
    <Property Id="ARPHELPLINK" Value="$(InfoURL)" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerInstalled)" AllowSameVersionUpgrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="ProgramFilesI6" Name="!(loc.ManufacturerName)">
        <Directory Id="INSTALLFOLDER" Name="!(loc.ApplicationName)">
          <Component Id="INSTALLFOLDER_comp" Guid="1E2A3FB1-2000-4FD8-BFFA-B8D54E8FC451">
            <CreateFolder />
            <RemoveFile Id="RemoveFilesFromAppDirectory" Name="*.*" On="uninstall" />
          </Component>

          <Component Id="PixelPalette.exe_comp" Guid="*">
            <File Id="PixelPaletteExe" Source="$(HarvestPath)\PixelPalette.exe" KeyPath="yes" />
          </Component>

          <Component Id="InstallationIndicator_comp" Guid="*">
            <File Id="InstallationIndicator" Source="IS_INSTALLATION.do-not-delete" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="APP_STARTMENU_FOLDER" Name="!(loc.ApplicationName)" />
    </StandardDirectory>

    <DirectoryRef Id="APP_STARTMENU_FOLDER">
      <Component Id="ApplicationShortcut_comp">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="PixelPalette"
          Icon="APP_ICON"
          Description="Simple color picker and manipulation tool"
          Target="[INSTALLFOLDER]PixelPalette.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpShortCut" Directory="APP_STARTMENU_FOLDER" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\simshaun\PixelPalette" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Complete" Title="!(loc.ApplicationName)" Level="1">
      <Files Include="$(HarvestPath)\**" Directory="INSTALLFOLDER">
        <Exclude Files="$(HarvestPath)\PixelPalette.exe" />
      </Files>
      <ComponentRef Id="INSTALLFOLDER_comp" />
      <ComponentRef Id="PixelPalette.exe_comp" />
      <ComponentRef Id="InstallationIndicator_comp" />
      <ComponentRef Id="ApplicationShortcut_comp" />
    </Feature>
  </Package>
</Wix>
